<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	      version="2.4">

	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>com.smartgwt.sample.showcase.server.InformationUpdateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/admin/updateServlet.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.smartgwt.sample.showcase.server.InformationDeleteServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/admin/deleteServlet.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>com.smartgwt.sample.showcase.server.InformationListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/admin/listServlet.action</url-pattern>
	</servlet-mapping>	

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>
			com.smartgwt.sample.showcase.util.CharacterEncodingFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>


</web-app>